USE [master]
GO
/****** Object:  Database [restoran]    Script Date: 25.05.2022 17:39:22 ******/
CREATE DATABASE [restoran] ON  PRIMARY 
( NAME = N'Restoran', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Restoran.mdf' , SIZE = 5056KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Restoran_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Restoran_log.ldf' , SIZE = 504KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [restoran].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [restoran]
GO
/****** Object:  Table [dbo].[Avtorization]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avtorization](
	[ID_polizovatel] [int] NOT NULL,
	[ID_Dolgnost] [int] NULL,
	[Parol] [nvarchar](20) NULL,
	[ID_Sotrudniki] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_polizovatel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Big_ostatok]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Big_ostatok](
	[ID_big_ostatok] [int] NOT NULL,
	[Day] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_big_ostatok] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bludo_Doc]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bludo_Doc](
	[ID_Doc_Bludo] [int] NOT NULL,
	[ID_gruppa] [int] NULL,
	[Nazvanie] [nvarchar](50) NULL,
	[Nacenka] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Doc_Bludo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dannie]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dannie](
	[Id_Dann] [int] NOT NULL,
	[OKPO] [nvarchar](50) NULL,
	[V_deiadel] [nvarchar](50) NULL,
	[Naimenovanie_Polno] [nvarchar](100) NULL,
	[INN] [nvarchar](100) NULL,
	[KPP] [nvarchar](100) NULL,
	[Adrec] [nvarchar](50) NULL,
	[Rachet_chet] [nvarchar](100) NULL,
	[OKATO] [nvarchar](50) NULL,
	[ОГРН] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Kod] [nvarchar](50) NULL,
	[Naimenovanie_Kratko] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Dann] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document_Postuplenie]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_Postuplenie](
	[ID_Operacia_Postavshik] [int] NOT NULL,
	[Data] [date] NULL,
	[ID_Kontragent] [int] NULL,
	[Summa_Itogo] [decimal](18, 2) NULL,
	[Id_zakaz_p] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Operacia_Postavshik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document_Zakazz]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_Zakazz](
	[ID_Documenta_zakaz] [int] NOT NULL,
	[Data] [date] NULL,
	[Summa_zakaza] [decimal](18, 2) NULL,
	[ID_Sotrudniki] [int] NULL,
	[Num_stola] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Documenta_zakaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dolgnost]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dolgnost](
	[ID_Dolgnost] [int] NOT NULL,
	[Dolgnost] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Dolgnost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Edinica_izmerenia]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edinica_izmerenia](
	[ID_edinica] [int] NOT NULL,
	[Nazvanie] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_edinica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gruppa_blud]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gruppa_blud](
	[ID_gruppa] [int] NOT NULL,
	[Naimenovanie] [nvarchar](50) NULL,
	[Path] [nvarchar](max) NULL,
	[Image] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_gruppa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kalkuliac]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kalkuliac](
	[ID_Tablica] [int] NOT NULL,
	[ID_product] [int] NULL,
	[ID_edinica] [int] NULL,
	[Norma] [float] NULL,
	[Cena] [decimal](18, 2) NULL,
	[ID_zakaza] [int] NULL,
	[ID_Doc_Bludo] [int] NULL,
	[Summa] [decimal](18, 2) NULL,
	[Netto] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tablica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kontragent]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kontragent](
	[ID_Kontragent] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Adrec] [nvarchar](50) NULL,
	[INN] [nvarchar](50) NULL,
	[KPP] [nvarchar](50) NULL,
	[OKPO] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Name_Polno] [nvarchar](50) NULL,
	[Bank_chet] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Kontragent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Min_ostatok]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Min_ostatok](
	[ID_min_ostatok] [int] NOT NULL,
	[ID_big_ostatok] [int] NULL,
	[ID_product] [int] NULL,
	[Vcego] [float] NULL,
	[Izracxodavano] [float] NULL,
	[Ostalos] [float] NULL,
	[ID_edinica] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_min_ostatok] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Min_Plan]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Min_Plan](
	[ID_plan_e] [int] NOT NULL,
	[ID_product] [int] NULL,
	[Planiruetcia] [float] NULL,
	[Ostatok_na_cegodnia] [float] NULL,
	[Kol_Plan] [float] NULL,
	[ID_Planirovanie] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_plan_e] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Min_plategnoe_p]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Min_plategnoe_p](
	[ID_plateg] [int] NOT NULL,
	[ID_Kontragent] [int] NULL,
	[Bank_chet] [nvarchar](50) NULL,
	[Id_zakaz_p] [int] NULL,
	[Data] [date] NULL,
	[Summa] [float] NULL,
	[Id_NDC] [int] NULL,
	[Naznachenie] [nvarchar](300) NULL,
	[SDDC] [nvarchar](50) NULL,
	[Summa_NDC] [float] NULL,
	[Olacheno] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_plateg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Min_zakaz]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Min_zakaz](
	[ID_min_zakaza] [int] IDENTITY(1,1) NOT NULL,
	[Id_zakaz_p] [int] NULL,
	[ID_product] [int] NULL,
	[Kol_vo] [float] NULL,
	[ID_edinica] [int] NULL,
	[Cena] [float] NULL,
	[Summa] [float] NULL,
	[ID_NDC] [int] NULL,
	[Summa_NDC] [float] NULL,
	[Vcego] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_min_zakaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NDC]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NDC](
	[Id_NDC] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_NDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otchet_1]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otchet_1](
	[ID_Otchet_1] [int] NOT NULL,
	[ID_Doc_Bludo] [int] NULL,
	[Data] [date] NULL,
	[Numer] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Otchet_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planirovanie]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planirovanie](
	[ID_plan] [int] NOT NULL,
	[ID_product] [int] NULL,
	[Averrage_Cena] [float] NULL,
	[Vcego_Kol] [float] NULL,
	[Neobx] [float] NULL,
	[Isracx] [float] NULL,
	[Ostalos] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_plan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanPlan]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanPlan](
	[ID_Planirovanie] [int] NOT NULL,
	[Data] [date] NULL,
	[Komment] [nvarchar](100) NULL,
	[Data_ObProdagNachalo] [date] NULL,
	[Data_ObProdagKonec] [date] NULL,
	[Data_Sklad] [date] NULL,
	[Data_PlanirNachalo] [date] NULL,
	[Data_PlanirKonec] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Planirovanie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postuplenie_producta]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postuplenie_producta](
	[ID_Postuplenia] [int] NOT NULL,
	[ID_Operacia_Postavshik] [int] NULL,
	[ID_product] [int] NULL,
	[ID_edinica] [int] NULL,
	[Cena] [decimal](18, 2) NULL,
	[Kol_vo] [float] NULL,
	[Summa_Kol_Cen] [decimal](18, 2) NULL,
	[Srok_godnosti] [date] NULL,
	[Id_NDC] [int] NULL,
	[Summa_NDC] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Postuplenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID_product] [int] NOT NULL,
	[Nazvanie] [nvarchar](50) NULL,
	[Cena_za_kg] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rewards_Incentives]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rewards_Incentives](
	[Id_Note] [int] NOT NULL,
	[Id_Sotrudnik] [int] NOT NULL,
	[Data] [date] NOT NULL,
	[Id_Order] [int] NULL,
	[Information] [nvarchar](255) NOT NULL,
	[Result] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sostav_Bluda]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sostav_Bluda](
	[ID_Bludo] [int] NOT NULL,
	[ID_product] [int] NULL,
	[Brutto] [float] NULL,
	[Netto] [float] NULL,
	[ID_Doc_Bludo] [int] NULL,
	[ID_edinica] [int] NULL,
	[Cena_za_kg] [decimal](18, 2) NULL,
	[Summa] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Bludo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sotrudniki]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sotrudniki](
	[ID_Sotrudniki] [int] NOT NULL,
	[Sotrudnik] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Sotrudniki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz](
	[ID_zakaza] [int] NOT NULL,
	[ID_Documenta_zakaz] [int] NULL,
	[ID_Doc_Bludo] [int] NULL,
	[Cena_Bluda] [decimal](18, 2) NULL,
	[Kol_vo] [int] NULL,
	[Summa_Kol_cen] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_zakaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz_postav]    Script Date: 25.05.2022 17:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz_postav](
	[Id_zakaz_p] [int] NOT NULL,
	[Data] [date] NULL,
	[ID_Kontragent] [int] NULL,
	[Summa] [decimal](18, 2) NULL,
	[Oplata] [date] NULL,
	[Postuplenie] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_zakaz_p] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Avtorization] ([ID_polizovatel], [ID_Dolgnost], [Parol], [ID_Sotrudniki]) VALUES (2, 2, N'987654', 3)
INSERT [dbo].[Avtorization] ([ID_polizovatel], [ID_Dolgnost], [Parol], [ID_Sotrudniki]) VALUES (3, 3, N'987654', 2)
INSERT [dbo].[Avtorization] ([ID_polizovatel], [ID_Dolgnost], [Parol], [ID_Sotrudniki]) VALUES (4, 4, N'987654', 1)
GO
INSERT [dbo].[Big_ostatok] ([ID_big_ostatok], [Day]) VALUES (1, CAST(N'2022-04-26' AS Date))
INSERT [dbo].[Big_ostatok] ([ID_big_ostatok], [Day]) VALUES (2, CAST(N'2022-04-27' AS Date))
INSERT [dbo].[Big_ostatok] ([ID_big_ostatok], [Day]) VALUES (3, CAST(N'2022-04-28' AS Date))
GO
INSERT [dbo].[Bludo_Doc] ([ID_Doc_Bludo], [ID_gruppa], [Nazvanie], [Nacenka]) VALUES (1, 1, N'Черный чай', CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[Bludo_Doc] ([ID_Doc_Bludo], [ID_gruppa], [Nazvanie], [Nacenka]) VALUES (2, 1, N'Зеленый чай', CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[Bludo_Doc] ([ID_Doc_Bludo], [ID_gruppa], [Nazvanie], [Nacenka]) VALUES (3, 1, N'Эспрессо', CAST(800.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Dannie] ([Id_Dann], [OKPO], [V_deiadel], [Naimenovanie_Polno], [INN], [KPP], [Adrec], [Rachet_chet], [OKATO], [ОГРН], [Telefon], [Email], [Kod], [Naimenovanie_Kratko]) VALUES (1, N'567423453700', N'H', N'ООО "Аюгов"', N'554211152345', N'885211326', N'г. Ульяновск, ул. Льва Толстого 90-А, оф. 4', N'773312347', N'25442424242', N'5345345345354', N'+7 (  927 ) 832-477-6', N'wadim-ajugow@mail.ru', N'55.12.66', N'Аюгов')
GO
INSERT [dbo].[Document_Postuplenie] ([ID_Operacia_Postavshik], [Data], [ID_Kontragent], [Summa_Itogo], [Id_zakaz_p]) VALUES (1, CAST(N'2022-04-26' AS Date), 1, CAST(10010.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[Document_Postuplenie] ([ID_Operacia_Postavshik], [Data], [ID_Kontragent], [Summa_Itogo], [Id_zakaz_p]) VALUES (2, CAST(N'2022-04-27' AS Date), 6, CAST(4925.00 AS Decimal(18, 2)), 3)
INSERT [dbo].[Document_Postuplenie] ([ID_Operacia_Postavshik], [Data], [ID_Kontragent], [Summa_Itogo], [Id_zakaz_p]) VALUES (4, CAST(N'2022-04-27' AS Date), 7, CAST(1614.00 AS Decimal(18, 2)), 5)
GO
INSERT [dbo].[Document_Zakazz] ([ID_Documenta_zakaz], [Data], [Summa_zakaza], [ID_Sotrudniki], [Num_stola]) VALUES (4, CAST(N'2022-05-01' AS Date), CAST(2193.49 AS Decimal(18, 2)), 3, 5)
INSERT [dbo].[Document_Zakazz] ([ID_Documenta_zakaz], [Data], [Summa_zakaza], [ID_Sotrudniki], [Num_stola]) VALUES (5, CAST(N'2022-05-01' AS Date), CAST(669.35 AS Decimal(18, 2)), 3, 3)
INSERT [dbo].[Document_Zakazz] ([ID_Documenta_zakaz], [Data], [Summa_zakaza], [ID_Sotrudniki], [Num_stola]) VALUES (6, CAST(N'2022-05-01' AS Date), CAST(644.26 AS Decimal(18, 2)), 3, 3)
GO
INSERT [dbo].[Dolgnost] ([ID_Dolgnost], [Dolgnost]) VALUES (2, N'Официант')
INSERT [dbo].[Dolgnost] ([ID_Dolgnost], [Dolgnost]) VALUES (3, N'Администратор')
INSERT [dbo].[Dolgnost] ([ID_Dolgnost], [Dolgnost]) VALUES (4, N'Товаровед')
GO
INSERT [dbo].[Edinica_izmerenia] ([ID_edinica], [Nazvanie]) VALUES (2, N'кг.')
INSERT [dbo].[Edinica_izmerenia] ([ID_edinica], [Nazvanie]) VALUES (3, N'г.')
INSERT [dbo].[Edinica_izmerenia] ([ID_edinica], [Nazvanie]) VALUES (4, N'л.')
GO
INSERT [dbo].[Kalkuliac] ([ID_Tablica], [ID_product], [ID_edinica], [Norma], [Cena], [ID_zakaza], [ID_Doc_Bludo], [Summa], [Netto]) VALUES (24, 5, 2, 0.08, CAST(300.00 AS Decimal(18, 2)), 5, 14, CAST(24.00 AS Decimal(18, 2)), 0.08)
INSERT [dbo].[Kalkuliac] ([ID_Tablica], [ID_product], [ID_edinica], [Norma], [Cena], [ID_zakaza], [ID_Doc_Bludo], [Summa], [Netto]) VALUES (25, 15, 2, 0.06, CAST(220.00 AS Decimal(18, 2)), 5, 14, CAST(13.20 AS Decimal(18, 2)), 0.06)
INSERT [dbo].[Kalkuliac] ([ID_Tablica], [ID_product], [ID_edinica], [Norma], [Cena], [ID_zakaza], [ID_Doc_Bludo], [Summa], [Netto]) VALUES (26, 19, 2, 0.04, CAST(80.00 AS Decimal(18, 2)), 5, 14, CAST(3.20 AS Decimal(18, 2)), 0.04)
GO
INSERT [dbo].[Kontragent] ([ID_Kontragent], [Name], [Adrec], [INN], [KPP], [OKPO], [Telefon], [Email], [Name_Polno], [Bank_chet]) VALUES (1, N'Литвиненко А.Ю.', N'Московское шоссе 38', N'623154872264', N'345453453', N'53453453', N'+7 ( 458) 111-54-65', N'yourmilk@mail.ru', N'ООО "Ваше молоко"', N'3543545345343434')
INSERT [dbo].[Kontragent] ([ID_Kontragent], [Name], [Adrec], [INN], [KPP], [OKPO], [Telefon], [Email], [Name_Polno], [Bank_chet]) VALUES (3, N'Волжские теплицы', N'Ульяновская обл., п. Ишеевка, ул. Мира 12', N'252452452452', N'', N'', N'+7 ( 8854 ) 678-424-8', N'', N'ИП "Волжские теплицы - Ишеевское товарищество"', N'')
INSERT [dbo].[Kontragent] ([ID_Kontragent], [Name], [Adrec], [INN], [KPP], [OKPO], [Telefon], [Email], [Name_Polno], [Bank_chet]) VALUES (6, N'Ауджишвили Артур Вартанович', N'Кузоватовская 21-а', N'256984584485', N'', N'', N'+7 (917) 545-63-77', N'augishvily73@mail.ru', N'ИП Ауджишвили', N'')
GO
INSERT [dbo].[Min_ostatok] ([ID_min_ostatok], [ID_big_ostatok], [ID_product], [Vcego], [Izracxodavano], [Ostalos], [ID_edinica]) VALUES (1, 1, 1, 0, 0, 0, 2)
INSERT [dbo].[Min_ostatok] ([ID_min_ostatok], [ID_big_ostatok], [ID_product], [Vcego], [Izracxodavano], [Ostalos], [ID_edinica]) VALUES (2, 1, 2, 0, 0, 0, 2)
INSERT [dbo].[Min_ostatok] ([ID_min_ostatok], [ID_big_ostatok], [ID_product], [Vcego], [Izracxodavano], [Ostalos], [ID_edinica]) VALUES (3, 1, 3, 0, 0, 0, 2)
GO
INSERT [dbo].[Min_Plan] ([ID_plan_e], [ID_product], [Planiruetcia], [Ostatok_na_cegodnia], [Kol_Plan], [ID_Planirovanie]) VALUES (1, 1, 0.25, 0, 1, 3)
INSERT [dbo].[Min_Plan] ([ID_plan_e], [ID_product], [Planiruetcia], [Ostatok_na_cegodnia], [Kol_Plan], [ID_Planirovanie]) VALUES (2, 2, 0.25, 0, 1, 3)
INSERT [dbo].[Min_Plan] ([ID_plan_e], [ID_product], [Planiruetcia], [Ostatok_na_cegodnia], [Kol_Plan], [ID_Planirovanie]) VALUES (3, 3, 0.5, 0, 1, 3)
GO
INSERT [dbo].[Min_plategnoe_p] ([ID_plateg], [ID_Kontragent], [Bank_chet], [Id_zakaz_p], [Data], [Summa], [Id_NDC], [Naznachenie], [SDDC], [Summa_NDC], [Olacheno]) VALUES (1, 1, N'3543545345343434', 4, CAST(N'2022-04-26' AS Date), 10010, 7, N'Оплата заказа 4 от 26.04.2022', N'dasdasds', 1668.33, 1)
INSERT [dbo].[Min_plategnoe_p] ([ID_plateg], [ID_Kontragent], [Bank_chet], [Id_zakaz_p], [Data], [Summa], [Id_NDC], [Naznachenie], [SDDC], [Summa_NDC], [Olacheno]) VALUES (2, 7, N'', 5, CAST(N'2022-04-25' AS Date), 1614, 3, N'', N'dasdasds', 146.73, 1)
INSERT [dbo].[Min_plategnoe_p] ([ID_plateg], [ID_Kontragent], [Bank_chet], [Id_zakaz_p], [Data], [Summa], [Id_NDC], [Naznachenie], [SDDC], [Summa_NDC], [Olacheno]) VALUES (3, 8, N'', 6, CAST(N'2022-04-25' AS Date), 4187.5, 1, N'', N'dasdasds', 638.77, 1)
GO
SET IDENTITY_INSERT [dbo].[Min_zakaz] ON 

INSERT [dbo].[Min_zakaz] ([ID_min_zakaza], [Id_zakaz_p], [ID_product], [Kol_vo], [ID_edinica], [Cena], [Summa], [ID_NDC], [Summa_NDC], [Vcego]) VALUES (1808, 2, 6, 10, 2, 40, 400, 1, 61.016949152542374, 400)
INSERT [dbo].[Min_zakaz] ([ID_min_zakaza], [Id_zakaz_p], [ID_product], [Kol_vo], [ID_edinica], [Cena], [Summa], [ID_NDC], [Summa_NDC], [Vcego]) VALUES (1809, 2, 7, 6, 2, 60, 360, 1, 54.915254237288138, 360)
INSERT [dbo].[Min_zakaz] ([ID_min_zakaza], [Id_zakaz_p], [ID_product], [Kol_vo], [ID_edinica], [Cena], [Summa], [ID_NDC], [Summa_NDC], [Vcego]) VALUES (1810, 2, 8, 6, 2, 35, 210, 1, 32.033898305084747, 210)
SET IDENTITY_INSERT [dbo].[Min_zakaz] OFF
GO
SET IDENTITY_INSERT [dbo].[NDC] ON 

INSERT [dbo].[NDC] ([Id_NDC], [Nazvanie]) VALUES (1, N'18%')
INSERT [dbo].[NDC] ([Id_NDC], [Nazvanie]) VALUES (3, N'10%')
INSERT [dbo].[NDC] ([Id_NDC], [Nazvanie]) VALUES (5, N'0%')
SET IDENTITY_INSERT [dbo].[NDC] OFF
GO
INSERT [dbo].[Otchet_1] ([ID_Otchet_1], [ID_Doc_Bludo], [Data], [Numer]) VALUES (1, 5, CAST(N'2022-05-06' AS Date), N'244')
INSERT [dbo].[Otchet_1] ([ID_Otchet_1], [ID_Doc_Bludo], [Data], [Numer]) VALUES (2, 6, CAST(N'2022-05-06' AS Date), N'245')
INSERT [dbo].[Otchet_1] ([ID_Otchet_1], [ID_Doc_Bludo], [Data], [Numer]) VALUES (3, 7, CAST(N'2022-05-06' AS Date), N'3321')
GO
INSERT [dbo].[PlanPlan] ([ID_Planirovanie], [Data], [Komment], [Data_ObProdagNachalo], [Data_ObProdagKonec], [Data_Sklad], [Data_PlanirNachalo], [Data_PlanirKonec]) VALUES (3, CAST(N'2022-04-27' AS Date), N'Первая закупка для магазина', CAST(N'2022-04-17' AS Date), CAST(N'2022-04-26' AS Date), CAST(N'2022-04-26' AS Date), CAST(N'2022-04-26' AS Date), CAST(N'2022-05-05' AS Date))
INSERT [dbo].[PlanPlan] ([ID_Planirovanie], [Data], [Komment], [Data_ObProdagNachalo], [Data_ObProdagKonec], [Data_Sklad], [Data_PlanirNachalo], [Data_PlanirKonec]) VALUES (5, CAST(N'2022-05-03' AS Date), N'Закупить мясо, некоторые овощи', CAST(N'2022-04-26' AS Date), CAST(N'2022-05-03' AS Date), CAST(N'2022-05-03' AS Date), CAST(N'2022-05-05' AS Date), CAST(N'2022-05-11' AS Date))
GO
INSERT [dbo].[Postuplenie_producta] ([ID_Postuplenia], [ID_Operacia_Postavshik], [ID_product], [ID_edinica], [Cena], [Kol_vo], [Summa_Kol_Cen], [Srok_godnosti], [Id_NDC], [Summa_NDC]) VALUES (1, 1, 4, 4, CAST(10.00 AS Decimal(18, 2)), 20, CAST(200.00 AS Decimal(18, 2)), CAST(N'2023-01-01' AS Date), 7, 33.333333333333336)
INSERT [dbo].[Postuplenie_producta] ([ID_Postuplenia], [ID_Operacia_Postavshik], [ID_product], [ID_edinica], [Cena], [Kol_vo], [Summa_Kol_Cen], [Srok_godnosti], [Id_NDC], [Summa_NDC]) VALUES (2, 1, 9, 2, CAST(80.00 AS Decimal(18, 2)), 5, CAST(400.00 AS Decimal(18, 2)), CAST(N'2023-01-01' AS Date), 7, 66.666666666666671)
INSERT [dbo].[Postuplenie_producta] ([ID_Postuplenia], [ID_Operacia_Postavshik], [ID_product], [ID_edinica], [Cena], [Kol_vo], [Summa_Kol_Cen], [Srok_godnosti], [Id_NDC], [Summa_NDC]) VALUES (3, 1, 13, 2, CAST(85.00 AS Decimal(18, 2)), 2, CAST(170.00 AS Decimal(18, 2)), CAST(N'2023-01-01' AS Date), 7, 28.333333333333332)
GO
INSERT [dbo].[Product] ([ID_product], [Nazvanie], [Cena_za_kg]) VALUES (1, N'Черный чай', CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([ID_product], [Nazvanie], [Cena_za_kg]) VALUES (2, N'Зеленый чай', CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([ID_product], [Nazvanie], [Cena_za_kg]) VALUES (3, N'Кофе в зернах', CAST(800.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Rewards_Incentives] ([Id_Note], [Id_Sotrudnik], [Data], [Id_Order], [Information], [Result]) VALUES (1, 3, CAST(N'2022-05-01' AS Date), NULL, N'Опоздал на 15 минут на работу', N'Устное предупреждение')
INSERT [dbo].[Rewards_Incentives] ([Id_Note], [Id_Sotrudnik], [Data], [Id_Order], [Information], [Result]) VALUES (2, 3, CAST(N'2022-05-02' AS Date), 10, N'Не пробил десерт в чеке', N'Денежное взыскание на сумму блюда')
INSERT [dbo].[Rewards_Incentives] ([Id_Note], [Id_Sotrudnik], [Data], [Id_Order], [Information], [Result]) VALUES (3, 13, CAST(N'2022-05-03' AS Date), 14, N'Нагрубил клиентку, дал неправильную информацию о составе блюда', N'Штраф 500р')
GO
INSERT [dbo].[Sostav_Bluda] ([ID_Bludo], [ID_product], [Brutto], [Netto], [ID_Doc_Bludo], [ID_edinica], [Cena_za_kg], [Summa]) VALUES (1, 1, 0.01, 0.01, 1, 2, CAST(500.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[Sostav_Bluda] ([ID_Bludo], [ID_product], [Brutto], [Netto], [ID_Doc_Bludo], [ID_edinica], [Cena_za_kg], [Summa]) VALUES (2, 4, 0.2, 0.2, 1, 4, CAST(10.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[Sostav_Bluda] ([ID_Bludo], [ID_product], [Brutto], [Netto], [ID_Doc_Bludo], [ID_edinica], [Cena_za_kg], [Summa]) VALUES (3, 2, 0.01, 0.01, 2, 2, CAST(500.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Sotrudniki] ([ID_Sotrudniki], [Sotrudnik]) VALUES (1, N'Петровченко Вадим Игоревич')
INSERT [dbo].[Sotrudniki] ([ID_Sotrudniki], [Sotrudnik]) VALUES (2, N'Каменская Анна Анатольевна')
INSERT [dbo].[Sotrudniki] ([ID_Sotrudniki], [Sotrudnik]) VALUES (3, N'Дробоченко Антон Иванович')
GO
INSERT [dbo].[Zakaz] ([ID_zakaza], [ID_Documenta_zakaz], [ID_Doc_Bludo], [Cena_Bluda], [Kol_vo], [Summa_Kol_cen]) VALUES (14, 4, 5, CAST(192.73 AS Decimal(18, 2)), 2, CAST(385.47 AS Decimal(18, 2)))
INSERT [dbo].[Zakaz] ([ID_zakaza], [ID_Documenta_zakaz], [ID_Doc_Bludo], [Cena_Bluda], [Kol_vo], [Summa_Kol_cen]) VALUES (15, 4, 12, CAST(423.86 AS Decimal(18, 2)), 1, CAST(423.86 AS Decimal(18, 2)))
INSERT [dbo].[Zakaz] ([ID_zakaza], [ID_Documenta_zakaz], [ID_Doc_Bludo], [Cena_Bluda], [Kol_vo], [Summa_Kol_cen]) VALUES (16, 4, 8, CAST(471.29 AS Decimal(18, 2)), 1, CAST(471.29 AS Decimal(18, 2)))
GO
INSERT [dbo].[Zakaz_postav] ([Id_zakaz_p], [Data], [ID_Kontragent], [Summa], [Oplata], [Postuplenie]) VALUES (2, CAST(N'2022-04-27' AS Date), 3, CAST(4490.00 AS Decimal(18, 2)), CAST(N'2022-04-27' AS Date), CAST(N'2022-04-28' AS Date))
INSERT [dbo].[Zakaz_postav] ([Id_zakaz_p], [Data], [ID_Kontragent], [Summa], [Oplata], [Postuplenie]) VALUES (3, CAST(N'2022-04-27' AS Date), 6, CAST(4925.00 AS Decimal(18, 2)), CAST(N'2022-04-27' AS Date), CAST(N'2022-04-27' AS Date))
INSERT [dbo].[Zakaz_postav] ([Id_zakaz_p], [Data], [ID_Kontragent], [Summa], [Oplata], [Postuplenie]) VALUES (4, CAST(N'2022-04-26' AS Date), 1, CAST(10010.00 AS Decimal(18, 2)), CAST(N'2022-04-26' AS Date), CAST(N'2022-04-26' AS Date))
GO
ALTER TABLE [dbo].[Avtorization]  WITH CHECK ADD  CONSTRAINT [FK_Avtorization_ToTable] FOREIGN KEY([ID_Sotrudniki])
REFERENCES [dbo].[Sotrudniki] ([ID_Sotrudniki])
GO
ALTER TABLE [dbo].[Avtorization] CHECK CONSTRAINT [FK_Avtorization_ToTable]
GO
ALTER TABLE [dbo].[Avtorization]  WITH CHECK ADD  CONSTRAINT [FK_Avtorization_ToTable_1] FOREIGN KEY([ID_Dolgnost])
REFERENCES [dbo].[Dolgnost] ([ID_Dolgnost])
GO
ALTER TABLE [dbo].[Avtorization] CHECK CONSTRAINT [FK_Avtorization_ToTable_1]
GO
ALTER TABLE [dbo].[Bludo_Doc]  WITH CHECK ADD  CONSTRAINT [FK_Bludo_Doc_ToTable] FOREIGN KEY([ID_gruppa])
REFERENCES [dbo].[Gruppa_blud] ([ID_gruppa])
GO
ALTER TABLE [dbo].[Bludo_Doc] CHECK CONSTRAINT [FK_Bludo_Doc_ToTable]
GO
ALTER TABLE [dbo].[Document_Postuplenie]  WITH CHECK ADD  CONSTRAINT [FK_Document_Postuplenie_ToTable] FOREIGN KEY([Id_zakaz_p])
REFERENCES [dbo].[Zakaz_postav] ([Id_zakaz_p])
GO
ALTER TABLE [dbo].[Document_Postuplenie] CHECK CONSTRAINT [FK_Document_Postuplenie_ToTable]
GO
ALTER TABLE [dbo].[Document_Postuplenie]  WITH CHECK ADD  CONSTRAINT [FK_Kontragent_ToTable] FOREIGN KEY([ID_Kontragent])
REFERENCES [dbo].[Kontragent] ([ID_Kontragent])
GO
ALTER TABLE [dbo].[Document_Postuplenie] CHECK CONSTRAINT [FK_Kontragent_ToTable]
GO
ALTER TABLE [dbo].[Document_Zakazz]  WITH CHECK ADD  CONSTRAINT [FK_Document_Zakazz_Sotrudniki] FOREIGN KEY([ID_Sotrudniki])
REFERENCES [dbo].[Sotrudniki] ([ID_Sotrudniki])
GO
ALTER TABLE [dbo].[Document_Zakazz] CHECK CONSTRAINT [FK_Document_Zakazz_Sotrudniki]
GO
ALTER TABLE [dbo].[Kalkuliac]  WITH CHECK ADD  CONSTRAINT [FK_Kalkuliac_ToTable_2] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Product] ([ID_product])
GO
ALTER TABLE [dbo].[Kalkuliac] CHECK CONSTRAINT [FK_Kalkuliac_ToTable_2]
GO
ALTER TABLE [dbo].[Kalkuliac]  WITH CHECK ADD  CONSTRAINT [FK_Kalkuliac_ToTable_3] FOREIGN KEY([ID_edinica])
REFERENCES [dbo].[Edinica_izmerenia] ([ID_edinica])
GO
ALTER TABLE [dbo].[Kalkuliac] CHECK CONSTRAINT [FK_Kalkuliac_ToTable_3]
GO
ALTER TABLE [dbo].[Min_ostatok]  WITH CHECK ADD  CONSTRAINT [FK_Min_ostatok_ToTable] FOREIGN KEY([ID_big_ostatok])
REFERENCES [dbo].[Big_ostatok] ([ID_big_ostatok])
GO
ALTER TABLE [dbo].[Min_ostatok] CHECK CONSTRAINT [FK_Min_ostatok_ToTable]
GO
ALTER TABLE [dbo].[Min_ostatok]  WITH CHECK ADD  CONSTRAINT [FK_Min_ostatok_ToTable_1] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Product] ([ID_product])
GO
ALTER TABLE [dbo].[Min_ostatok] CHECK CONSTRAINT [FK_Min_ostatok_ToTable_1]
GO
ALTER TABLE [dbo].[Min_ostatok]  WITH CHECK ADD  CONSTRAINT [FK_Min_ostatok_ToTable_2] FOREIGN KEY([ID_edinica])
REFERENCES [dbo].[Edinica_izmerenia] ([ID_edinica])
GO
ALTER TABLE [dbo].[Min_ostatok] CHECK CONSTRAINT [FK_Min_ostatok_ToTable_2]
GO
ALTER TABLE [dbo].[Min_Plan]  WITH CHECK ADD  CONSTRAINT [FK_Min_Plan_ToTable] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Product] ([ID_product])
GO
ALTER TABLE [dbo].[Min_Plan] CHECK CONSTRAINT [FK_Min_Plan_ToTable]
GO
ALTER TABLE [dbo].[Min_Plan]  WITH CHECK ADD  CONSTRAINT [FK_Min_Plan_ToTable_1] FOREIGN KEY([ID_Planirovanie])
REFERENCES [dbo].[PlanPlan] ([ID_Planirovanie])
GO
ALTER TABLE [dbo].[Min_Plan] CHECK CONSTRAINT [FK_Min_Plan_ToTable_1]
GO
ALTER TABLE [dbo].[Min_plategnoe_p]  WITH CHECK ADD  CONSTRAINT [FK_Min_plategnoe_p_ToTable] FOREIGN KEY([ID_Kontragent])
REFERENCES [dbo].[Kontragent] ([ID_Kontragent])
GO
ALTER TABLE [dbo].[Min_plategnoe_p] CHECK CONSTRAINT [FK_Min_plategnoe_p_ToTable]
GO
ALTER TABLE [dbo].[Min_plategnoe_p]  WITH CHECK ADD  CONSTRAINT [FK_Min_plategnoe_p_ToTable_1] FOREIGN KEY([Id_zakaz_p])
REFERENCES [dbo].[Zakaz_postav] ([Id_zakaz_p])
GO
ALTER TABLE [dbo].[Min_plategnoe_p] CHECK CONSTRAINT [FK_Min_plategnoe_p_ToTable_1]
GO
ALTER TABLE [dbo].[Min_plategnoe_p]  WITH CHECK ADD  CONSTRAINT [FK_Min_plategnoe_p_ToTable_2] FOREIGN KEY([Id_NDC])
REFERENCES [dbo].[NDC] ([Id_NDC])
GO
ALTER TABLE [dbo].[Min_plategnoe_p] CHECK CONSTRAINT [FK_Min_plategnoe_p_ToTable_2]
GO
ALTER TABLE [dbo].[Min_zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Min_zakaz_ToTable] FOREIGN KEY([Id_zakaz_p])
REFERENCES [dbo].[Zakaz_postav] ([Id_zakaz_p])
GO
ALTER TABLE [dbo].[Min_zakaz] CHECK CONSTRAINT [FK_Min_zakaz_ToTable]
GO
ALTER TABLE [dbo].[Min_zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Min_zakaz_ToTable_1] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Product] ([ID_product])
GO
ALTER TABLE [dbo].[Min_zakaz] CHECK CONSTRAINT [FK_Min_zakaz_ToTable_1]
GO
ALTER TABLE [dbo].[Min_zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Min_zakaz_ToTable_2] FOREIGN KEY([ID_edinica])
REFERENCES [dbo].[Edinica_izmerenia] ([ID_edinica])
GO
ALTER TABLE [dbo].[Min_zakaz] CHECK CONSTRAINT [FK_Min_zakaz_ToTable_2]
GO
ALTER TABLE [dbo].[Min_zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Min_zakaz_ToTable_3] FOREIGN KEY([ID_NDC])
REFERENCES [dbo].[NDC] ([Id_NDC])
GO
ALTER TABLE [dbo].[Min_zakaz] CHECK CONSTRAINT [FK_Min_zakaz_ToTable_3]
GO
ALTER TABLE [dbo].[Otchet_1]  WITH CHECK ADD  CONSTRAINT [FK_Table_ToTable] FOREIGN KEY([ID_Doc_Bludo])
REFERENCES [dbo].[Bludo_Doc] ([ID_Doc_Bludo])
GO
ALTER TABLE [dbo].[Otchet_1] CHECK CONSTRAINT [FK_Table_ToTable]
GO
ALTER TABLE [dbo].[Planirovanie]  WITH CHECK ADD  CONSTRAINT [FK_Planirovanie_ToTable] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Product] ([ID_product])
GO
ALTER TABLE [dbo].[Planirovanie] CHECK CONSTRAINT [FK_Planirovanie_ToTable]
GO
ALTER TABLE [dbo].[Postuplenie_producta]  WITH CHECK ADD  CONSTRAINT [FK_Postuplenie_producta_ToTable] FOREIGN KEY([ID_Operacia_Postavshik])
REFERENCES [dbo].[Document_Postuplenie] ([ID_Operacia_Postavshik])
GO
ALTER TABLE [dbo].[Postuplenie_producta] CHECK CONSTRAINT [FK_Postuplenie_producta_ToTable]
GO
ALTER TABLE [dbo].[Postuplenie_producta]  WITH CHECK ADD  CONSTRAINT [FK_Postuplenie_producta_ToTable_1] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Product] ([ID_product])
GO
ALTER TABLE [dbo].[Postuplenie_producta] CHECK CONSTRAINT [FK_Postuplenie_producta_ToTable_1]
GO
ALTER TABLE [dbo].[Postuplenie_producta]  WITH CHECK ADD  CONSTRAINT [FK_Postuplenie_producta_ToTable_2] FOREIGN KEY([ID_edinica])
REFERENCES [dbo].[Edinica_izmerenia] ([ID_edinica])
GO
ALTER TABLE [dbo].[Postuplenie_producta] CHECK CONSTRAINT [FK_Postuplenie_producta_ToTable_2]
GO
ALTER TABLE [dbo].[Postuplenie_producta]  WITH CHECK ADD  CONSTRAINT [FK_Postuplenie_producta_ToTable_3] FOREIGN KEY([Id_NDC])
REFERENCES [dbo].[NDC] ([Id_NDC])
GO
ALTER TABLE [dbo].[Postuplenie_producta] CHECK CONSTRAINT [FK_Postuplenie_producta_ToTable_3]
GO
ALTER TABLE [dbo].[Rewards_Incentives]  WITH CHECK ADD  CONSTRAINT [FK_Rewards_Incentives_Document_Zakazz] FOREIGN KEY([Id_Order])
REFERENCES [dbo].[Document_Zakazz] ([ID_Documenta_zakaz])
GO
ALTER TABLE [dbo].[Rewards_Incentives] CHECK CONSTRAINT [FK_Rewards_Incentives_Document_Zakazz]
GO
ALTER TABLE [dbo].[Rewards_Incentives]  WITH CHECK ADD  CONSTRAINT [FK_Rewards_Incentives_Sotrudniki] FOREIGN KEY([Id_Sotrudnik])
REFERENCES [dbo].[Sotrudniki] ([ID_Sotrudniki])
GO
ALTER TABLE [dbo].[Rewards_Incentives] CHECK CONSTRAINT [FK_Rewards_Incentives_Sotrudniki]
GO
ALTER TABLE [dbo].[Sostav_Bluda]  WITH CHECK ADD  CONSTRAINT [FK_Sostav_Bluda_ToTable] FOREIGN KEY([ID_product])
REFERENCES [dbo].[Product] ([ID_product])
GO
ALTER TABLE [dbo].[Sostav_Bluda] CHECK CONSTRAINT [FK_Sostav_Bluda_ToTable]
GO
ALTER TABLE [dbo].[Sostav_Bluda]  WITH CHECK ADD  CONSTRAINT [FK_Sostav_Bluda_ToTable_1] FOREIGN KEY([ID_Doc_Bludo])
REFERENCES [dbo].[Bludo_Doc] ([ID_Doc_Bludo])
GO
ALTER TABLE [dbo].[Sostav_Bluda] CHECK CONSTRAINT [FK_Sostav_Bluda_ToTable_1]
GO
ALTER TABLE [dbo].[Sostav_Bluda]  WITH CHECK ADD  CONSTRAINT [FK_Sostav_Bluda_ToTable_2] FOREIGN KEY([ID_edinica])
REFERENCES [dbo].[Edinica_izmerenia] ([ID_edinica])
GO
ALTER TABLE [dbo].[Sostav_Bluda] CHECK CONSTRAINT [FK_Sostav_Bluda_ToTable_2]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_ToTable] FOREIGN KEY([ID_Documenta_zakaz])
REFERENCES [dbo].[Document_Zakazz] ([ID_Documenta_zakaz])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_ToTable]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_ToTable_1] FOREIGN KEY([ID_Doc_Bludo])
REFERENCES [dbo].[Bludo_Doc] ([ID_Doc_Bludo])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_ToTable_1]
GO
ALTER TABLE [dbo].[Zakaz_postav]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_postav_ToTable] FOREIGN KEY([ID_Kontragent])
REFERENCES [dbo].[Kontragent] ([ID_Kontragent])
GO
ALTER TABLE [dbo].[Zakaz_postav] CHECK CONSTRAINT [FK_Zakaz_postav_ToTable]
GO
USE [master]
GO
